<% success.forEach(error => { %>
<div class="alert alert-success text-center"><%= error %></div>
<% }); %>

<% errors.forEach(error => { %>
<div class="alert alert-danger text-center"><%= error %></div>
<% }); %>