<body>
    <header class="header-bar mb-3">
      <div class="container d-flex flex-column flex-md-row align-items-center p-3">
        <h4 class="my-0 mr-md-auto font-weight-normal"><a href="/" class="text-white"><img src="/img/logo.png" class="img-responsive" style="max-width: 20%"> OurApp</a></h4>
        <div class="flex-row my-3 my-md-0">
          <a href="#" class="text-white mr-2 header-search-icon" title="Search" data-toggle="tooltip" data-placement="bottom"><i class="fas fa-search"></i></a>
          <span class="text-white mr-2 header-chat-icon" title="Chat" data-toggle="tooltip" data-placement="bottom"><i class="fas fa-comment"></i></span>
          <a target="_blank" href="https://en.gravatar.com/<%= user.avatar %>" class="mr-2"><img title="My Gravatar Profile" data-toggle="tooltip" data-placement="bottom" style="width: 32px; height: 32px; border-radius: 16px;" src="https://gravatar.com/avatar?s=128"></a>
          <a href="/profile-posts/<%= user._id %>/myPosts" class="mr-2"><img title="My Profile Posts" data-toggle="tooltip" data-placement="bottom" style="width: 32px; height: 32px; border-radius: 16px;" src="https://gravatar.com/avatar/<%= user.avatar %>?s=128"></a>
          <a class="btn btn-sm btn-success mr-2" href="/create-post">Create Post</a>
          <form action="/logout" method="POST" class="d-inline">
            <button class="btn btn-sm btn-secondary">Sign Out</button>
          </form>
        </div>     
      </div>
    </header>
